.color_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
  padding: 0.5rem;
  background-color: var(--color-surface-400);
  border-radius: 10px;

  @media (prefers-color-scheme:light) {
    background-color: var(--color-primary-400);
  }
}

.color_circle {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  outline: none;
  transition: transform 0.1s ease-in-out;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);


  &:hover {
    transform: scale(1.1);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  }

  &:active {
    transform: scale(0.95);
  }
}