// ! delete this file
@use "../utilities/buttons";
@use "../utilities/colors";

.toolbar {
  display: flex;
  justify-self: end;
  opacity: 0;
  transition: opacity 0.1s linear;
}

.note_container:hover > .toolbar {
  opacity: 1;
}

.note_active > .toolbar {
  opacity: 1;
}

.toolbar_button {
  @extend .button;
  padding: 0.5rem;
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
  margin: auto;
  position: relative;

  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.dark_toolbar .toolbar_button {
  background-color: white;
  color-scheme: light;
}
