@use "../../../styles/utilities/colors";
// @use "../../../styles/utilities/bu";
.float_menu {
  background-color: var(--color-surface-300);
  border-radius: 10px;
  display: flex;
  .float_item {
    width: 0.5em;
    height: 0.5em;
    border-radius: unset;
    position: relative;
    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    &:first-child {
      border-radius: 10px 0 0 10px;
    }
    &:last-child {
      border-radius: 0 10px 10px 0;
    }
  }
}
