.color_menu_container {
  .szh_menu {
    min-width: unset;
    padding: 0.25rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    border-radius: 10px;
    .szh_menu__item_hover {
    }
    .color_menu_item {
      width: 2.2rem;
      height: 2.2rem;
      display: flex;
      justify-content: center;
      padding: 0.25rem;
      border-radius: 100%;
      button {
        width: 2rem;
        height: 2rem;
        border-radius: 100%;
        outline: none;
        border: none;
        &:hover {
          background: none;
        }
      }
    }
  }
}
