@use "../utilities/colors";

.nav {
  background: var(--background-color);
  font-family: "Josefin Sans", sans-serif;
  color: black;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 3rem;
  display: flex;
  // flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  padding-inline: 1rem;
  z-index: 1;
  a {
    text-decoration: none;
    color: black;
    padding: 3px;
    border-radius: 10px;
  }
  .logo {
    font-size: 1.5em;
  }
  .more_ops {
    display: flex;
    column-gap: 1rem;
    align-items: center;
  }
  img {
    border-radius: 100%;
    width: 2rem;
    cursor: pointer;
  }

  .menu_item {
    justify-content: space-around;
    padding-inline: 0.5rem;
  }

  @media (prefers-color-scheme: light) {
    background-color: var(--bg-light);
  }
}
