@use "../utilities/colors";
@use "../utilities/effects";
@import url("https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap");

.note-container {
  position: relative;
  height: 200px;
  width: 17rem;
  overflow: hidden;
  border: 1px colors.$note-border solid;
  border-radius: 10px;
  padding: 0.8rem;
  background-color: colors.$note-background;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // transition: width, height 0.4s ease-in;
  font-family: "Fira Mono", monospace;
  // @extend .masked-overflow;
  .note-main {
    flex-grow: 1;
    overflow: hidden;
  }
  &:hover {
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  }

  .title {
    background-color: colors.$note-background;
    color: colors.$dark;
    font-size: x-large;
    height: 10%;
    width: 100%;
    outline: none;
    border: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0.5rem;
  }
}

.note-container.note-active {
  z-index: 1040;
  width: 50vw;
  height: 70vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow-y: auto;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);

  .ProseMirror,
  .ProseMirror-focused {
    height: 100%;
    overflow-y: auto;
  }
}

@media screen and (max-width: 700px) {
  .note-container.note-active {
    width: 90%;
    height: 80%;
  }
}
.dull-background {
  background-color: rgba(0, 0, 0, 0.158);
}
