#root {
  height: 100%;
}
#root,
.App {
  margin: 0;
  display: flex;
  flex-flow: column;
  flex-grow: 1;
}

.icon-button {
  position: relative;
  background-color: transparent;
  padding: 0.5rem;
  border-radius: 10px;
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid transparent;
  &:hover {
    background: rgba(135, 141, 141, 0.25);
    mix-blend-mode: difference;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
  }
  &:active {
    background: rgba(135, 141, 141, 0.441);
    mix-blend-mode: difference;
  }

  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}
