#root {
  height: 100%;
}
#root,
.App {
  margin: 0;
  width: 100%;
  // height: 100%;
}

.icon-button {
  position: relative;
  background-color: transparent;
  padding: 0.5rem;
  border-radius: 10px;
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid transparent;
  &:hover {
    background: rgba(135, 141, 141, 0.25);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
  }
  &:active {
    background: rgba(135, 141, 141, 0.753);
  }

  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}
