:root {
  // --font-color: #f8f9f9;
  // --font-color-light: #213547;
  // --bg: black; //change this
  // --bg-light: #eff2f1;
  // --button-bg: #4b4c4c;
  // --button-bg-light: #1a1a1a;
  // --button-font-color: #;
  // --button-font-color-light: #e6e6e6;
  --weak-border: #0b0e0d1c;
  /** CSS DARK THEME PRIMARY COLORS */
  --color-primary-100: #eff2f1;
  --color-primary-200: #f1f3f3;
  --color-primary-300: #f3f5f4;
  --color-primary-400: #f4f6f6;
  --color-primary-500: #f6f8f7;
  --color-primary-600: #f8f9f9;

  /* --color-primary-100: #eff2f1; */
  /* --color-primary-200: #babcbc; */
  /* --color-primary-300: #888a89; */
  /* --color-primary-400: #595a5a; */
  /* --color-primary-500: #2e2e2e; */
  /* --color-primary-600: #000000; */

  /** CSS DARK THEME SURFACE COLORS */
  --color-surface-100: #0b0e0d;
  --color-surface-200: #232524;
  --color-surface-300: #3a3c3b;
  --color-surface-400: #535554;
  --color-surface-500: #6d6f6e;
  --color-surface-600: #898a89;

  color: var(--color-primary-100);
  background-color: var(--color-surface-100);

  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  box-sizing: border-box;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  transition: color 0.3s, background-color 0.3s;
}

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
}

#__next {
  min-height: 100%;
  min-width: 100%;
  // background: var();
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--color-surface-100);
    background-color: var(--color-primary-100);
  }
}

#root {
  height: 100%;
}
#root,
.App {
  margin: 0;
  display: flex;
  flex-flow: column;
  flex-grow: 1;
}

.icon_button {
  position: relative;
  background-color: transparent;
  // padding: 0.5rem;
  border-radius: 10px;
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid transparent;
  &:active {
    background: rgba(135, 141, 141, 0.441);
    mix-blend-mode: difference;
  }
  &:hover {
    background: rgba(135, 141, 141, 0.25);
    mix-blend-mode: difference;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
  }
  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}

/* 
Dark/Mixed - 100: For body background color

Dark/Mixed - 200: For cards background color

Dark/Mixed - 300: For chips buttons, dropdowns background color

Dark/Mixed - 400: For sidebars, navbar background color

Dark/Mixed - 500: For modal, dialogs background color

Dark/Mixed - 600: For on background texts color
*/
